body {
  font-family: Arial, sans-serif;
  background-color: #fffaf0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #5c4033;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
  height: auto;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffd700;
}

main {
  padding: 20px;
}

footer {
  background-color: #5c4033;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

a {
  color: #c66;
}

a:hover {
  color: #f93;
}
